.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.contact_title {
  font-size: var(--size-2xlg);
  color: var(--clr-light);
  text-transform: capitalize;
}

.contact_discription {
  font-size: var(--size-sm);
  color: var(--clr-slate600);
  max-width: 60ch;
}
.contact_btn {
  font-size: var(--size-sm);
}
.contact_links p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--clr-slate600);
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.contact_links p i {
  color: var(--clr-rose);
  margin-bottom: 10px;
  margin-top: 1rem;
}
.contact_icons a {
  font-size: 1rem;
  margin: 0.3rem;
}
.contact_input {
  align-items: center;
  justify-content: space-evenly;
  height: 25rem;
  display: flex;
}
.contact_left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.contact_inputs {
  width: 100%;
  height: 3rem;
  border: none;
  outline: none;
  padding-left: 2rem;
  border-radius: 0.5rem;
  background-color: #2f222f73;
  color: var(--clr-slate600);
}
.contact_left textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 0.5rem;
}
.contact_input :focus {
  border: 2px solid var(--clr-rose);
}
.contact_inputs::placeholder {
  color: var(--clr-rose);
}
.submit_btn {
  font-size: var(--size--mediam);
}
/* xs  */
@media (min-width: 375px) {
  .contact {
    gap: 1.5rem;
  }
  .contact_title {
    font-size: var(--size-3xlg);
  }

  .contact_discription {
    font-size: var(--size-mediam);
  }
  .contact_btn {
    font-size: var(--size--mediam);
  }
  .contact_left textarea {
    height: 120px;
  }
  .contact_inputs {
    width: 120%;
  }
}

/* sm  */
/* @media (min-width: 640px) {} */

/* mediam  */
@media (min-width: 768px) {
  .contact_inputs {
    width: 150%;
  }
}

/*  lg  */
@media (min-width: 1020px) {
  .contact_title {
    font-size: var(--size-4xlg);
  }

  .contact_discription {
    font-size: var(--size-lg);
  }
  .contact_btn {
    font-size: var(--size--lg);
  }
  .contact_inputs {
    width: 200%;
  }
}

/* xlg  */
@media (min-width: 1280px) {
  .contact {
    gap: 2rem;
  }
  .contact_title {
    font-size: var(--size-5xlg);
  }

  .contact_discription {
    font-size: var(--size-2xlg);
  }
  .contact_btn {
    font-size: var(--size--2xlg);
  }
  .contact_inputs {
    width: 250%;
  }
}

/* 2xlg  */
/* @media (min-width: 1536px) {} */
